body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero{
    background-color: #1F2937;
    color: white;
    margin: 0;
    font-family: Roboto,sans-serif;
    padding-bottom: 100px;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.right{
    display: flex;
    gap: 16px;
}

.Heads{
    display: flex;
    flex-wrap:wrap ;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

button{
    background-color: #3882F6;
    font-family:Roboto,sans-serif;
    padding: 5px 30px;
    font-size:20px;
    font-weight: 500;
    color: #F9FAF8;
    border-radius: 10px;
    border: none;

}

.para{
    font-size: 18px;
    color: #F9FAF8;
    
}

img{
    height: 300px;
    width: auto;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.lefts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.diff{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 200px;
}

.imgs{
    display: flex;
    flex-direction: column;
    width:150px;
    height:150px;
    border: 5px solid #3882F6;
    gap: 15px;
    border-radius: 15px;
    text-align: center;
}
.text{
    text-align: center;
    font-family:Roboto,sans-serif;
    padding: 50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.road{
    border: 5px solid black;
}

.mid{
    display: flex;
    flex-direction: column;
}

.bottom-mid{
    text-align: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.textz{
    color: #1F2937;
    font-style: light italic;
    font-size: 36px;
    display: flex;
}

.by-whom{
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 30px;
}