body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto,sans-serif;
}
.hero,.Heads,.logo,button,.para,.text2,.button2,.footer,.text3{
    color: #F9FAF8;
}

.hero{
    background-color: #1F2937;
    margin: 0;
    padding-bottom: 100px;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.right{
    display: flex;
    gap: 16px;
}

.Heads{
    display: flex;
    flex-wrap:wrap ;
    font-size: 48px;
    font-weight: 900;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

button{
    background-color: #3882F6;
    padding: 5px 30px;
    font-size:20px;
    font-weight: 500;
    border-radius: 10px;
    border: none;

}

.para{
    font-size: 18px;
    max-width: 800px;
    
}

img{
    height: 300px;
    width: auto;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    gap: 50px;
}

.lefts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.diff{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 200px;
}

.imgs{
    display: flex;
    flex-direction: column;
    width:150px;
    height:150px;
    border: 5px solid #3882F6;
    gap: 15px;
    border-radius: 15px;
    text-align: center;
}
.text{
    text-align: center;
    padding: 50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.road{
    border: 5px solid black;
}

.mid{
    display: flex;
    flex-direction: column;
}

.bottom-mid{
    text-align: start;
    max-width: 800px;
    padding: 0px;
    
}

.textz{
    color: #1F2937;
    font-style:italic;
    font-size: 36px;
    font-weight: 50;
    padding: 0px;
}

.by-whom{
    font-weight: 500;
    font-size: 30px;
    text-align: end;
    padding: 0px;
}

.quotez{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 120px;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.content2{
    display: flex;
    background-color: #3882F6;
    padding: 40px 100px;
    gap: 200px;
    border-radius: 8px;
}

.text2{
    font-size: 20px;
    font-weight: 500;
}

.button2{
    background-color: #3882F6;
    font-size:10px;
    font-weight: 500;
    border-radius: 10px;
    border: 3px solid white;
    flex-shrink: 0;
}


.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}